<div class="u-w300">
  <header class="u-pt3">
    <div class="o-flex o-flex--center--h o-flex--j--sb small u-px3">
      <div class="u-mb3">
        <h3 class="h6 u-w300 u-sans">
          {{#link-to 'repo' r}}{{ r.name }}{{/link-to}}
        </h3>
        <small class='u-ltgray'>{{moment-from-now r.updated_at hideSuffix=false}}</small>
      </div>
      <a href="{{ r.html_url }}" class="small">GitHub</a>
    </div>
    <div class="c-divider--t o-flex o-flex--j--sb o-flex--center--h u-center u-caps small">
      <div class="c-divider o-col--4/12 u-px2 u-py3">
        <h6 class="u-w500 u-lh-1">{{ r.open_issues_count}}</h6>
        <span class="small u-lh-1 u-lt-2 u-ltgray">Issues</span>
      </div>
      <div class="c-divider o-col--4/12 u-px2 u-py3">
        <h6 class="u-w500 u-lh-1">{{ r.forks_count }}</h6>
        <span class="small u-lh-1 u-lt-2 u-ltgray">Forks</span>
      </div>
      <div class="c-divider o-col--4/12 u-px2 u-py3">
        <h6 class="u-w500 u-lh-1">{{ r.stargazers_count }}</h6>
        <span class="small u-lh-1 u-lt-2 u-ltgray">Stars</span>
      </div>
    </div>
  </header>
  {{#if r.description}}
    <div class="small u-ltgray u-bg--palegray u-p3">
      <p class="u-system u-mb0">
        {{ r.description }}
      </p>
      <small>ID: #{{r.id}}</small>
    </div>
  {{/if}}
</div>
